@import "_vars.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: white;
	font-family: 'Work Sans', sans-serif;
}